:root{
    --gradient:linear-gradient(90deg, #000000, #fff);
}
*{
    font-family: 'Open sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
*::selection{
    background: #fff;
    color: #333;
}
section{
    padding: 8rem;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
body{
    background: #333;
}
.btn{
    padding: .6rem 3rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    border:none;
    background: #0c5c5f;
    color:#fff ;
    box-shadow: 0 0 1rem rgba(59, 58, 58, 0.5);
    border-radius: 50px;
}
.btn:hover{
    background: #0c5c5f;
    color: #000;;
    box-shadow: 0 0 1rem rgba(59, 58, 58, 0.5);
    transition: all 0.3s linear;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    padding: 1.3rem 5%;
    background: #3dcfd3;
    
}
header .logo {
    font-size: 3rem;
    color: #fff;
    font-family: 'RocknRoll One', sans-serif;
    width: 20rem;
    background: #3dcfd3;
    box-shadow: 0 0 1rem rgba(59, 58, 58, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}
header .logo span{
    font-family: 'RocknRoll One', sans-serif;
    color: #0c5c5f;
    
}
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header .navbar ul li a{
    font-size: 2rem;
    margin: 2rem;
    color: #000;
    position: relative;
}
header .navbar ul li a::before{
    content: '';
    position: absolute;
    bottom: -.5rem; right: 0;
    height: .2rem;
    width: 0%;
    background: #fff;
    transition: all .2s linear;
    
}
header .navbar ul li a.active::before,
header .navbar ul li a:hover::before{
    left: 0;
    width: 100%;
}

header #menu{
font-size: 3rem;
color:#fff;
cursor: pointer;
display: none;
}



.home{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
background: #fff;
background-size: cover;
background-position: center;
background-attachment: fixed;
padding-top:  9rem;
}
.home .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
    padding-top: 2rem;
   

}

.home .row .content{
    flex: 1 1 45rem;
    padding:2.5rem;
}
.home .row .content h1{
    font-size: 4rem;
    color: #000;
    
}
.home .row .content .rey{
    color: #0c5c5f;
    transition: all 0.3s ease;
    font-size: 4rem;
}
.home .row .content p{
    font-size: 3.5rem;
    color: #0c5c5f;
    padding: .5rem;
    
    
}
.home .row .content .rey26{
    font-size: 1rem;
    text-transform: none;
    color: #3dcfd3;
    background-color: #444;
    box-shadow:1rem 1rem 1rem rgba(0, 0, 0, .5);
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: .5rem;
    border-radius: 20px;
    padding-left: 1.5rem;
    padding: 1.5rem 1.5rem;
}


.home .row .image{
    
    flex: 1 1 31rem;
    text-align: center;
    
    
}

.home .row .image img{
    padding: 3rem 3rem 3rem 3rem;
    height: 59vh;
    width: 77%;  
    border-radius: 100%;
    background:#0c5c5f;
    box-shadow:0 .5rem 3rem  rgba(0, 0, 0, .5);
   
}
.home .row .content span{
    color: #0c5c5f;
    transition: all 0.3s ease;
}

.about {
   
    background: #333;
    margin-top:  2rem ;
    min-height: 100vh;
}
.about .rey h1 {
    text-align: center;
    font-size: 3rem;
    color: #3dcfd3;
    padding: 1rem;  
    padding-top: 1rem;
    width: 20rem;
    margin: 0 auto;
    box-shadow:1rem 1rem 1rem rgba(0, 0, 0, .5);
    background: #444;
    margin-bottom: 5rem;  
    border-radius: 30px;
}
.about .rey h1 i {
  
    color : #3dcfd3;
    padding-left: 1rem;
    
}

.about .row .row1 {
    font-size: 2rem;
}

.about .about1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}
.about .about1 .row{
    padding:1rem;
    padding-top: 1rem;
    width: 35rem;
    margin-left: 2rem;
    margin-right: 2rem;
    box-shadow:1rem 1rem 1rem rgba(0, 0, 0, .5);
    background: rgb(109, 108, 108);
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 20px;
}

.about .about1 .row i{
    color : #3dcfd3;
    padding-right: 1rem;
    
}
.about .about1 .row h3 {
    color : #000;
    padding-bottom: 1rem;
}
    
.about .about1 .row h4{
    font-size: 1.2rem;
}
.about .about1 .row p{
    font-size: 1rem;
}
.about .about1 .row .row2{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5rem;
    margin-top: 3rem;

}
.about .about1 .row .row3{ 
    margin-bottom: 2rem;

}
.about .about1 .row .row4{ 
    margin-bottom: 1rem;

}

.about .about1 .row .row5{
    text-align:left ;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 8rem;
    text-transform: none;
    margin-bottom: 2rem;


}

.about .about1 .row .row6{ 
    margin-bottom: 1rem;

}

.skills{
    
min-height: 100vh;
background: #fff;
margin-top:  2rem ;
    
}

.skills .rey1 h1 {
    text-align: center;
    font-size: 3rem;
    color: #3dcfd3;
    padding: 1rem;
    padding-top: 1rem;
    width: 20rem;
    margin: 0 auto;
    box-shadow:1rem 1rem 1rem rgba(0, 0, 0, .5);
    background: #444;
    margin-bottom: 5rem;
    border-radius: 30px;
    

}
.skills .rey1 h1 i {
  
    color : #3dcfd3;
    padding-left: 1rem;
    
}
.skills .per {
   
    font-size: 1.5rem;
    text-align: left;  
}

.skills .percentage .wes{
    
    color: #000;
   
    background-position: bottom #fff ;
  
}
.skills .per .percentage p{
    color: #3dcfd3;
    background:  rgb(56, 56, 56);
    box-shadow: #000;
    border-radius: 20px;
    padding-bottom: .5rem;
    padding-top: .4rem;
    padding-left: .7rem;
}
.skills .per .percentage .p1 {
    width: 10rem;  
}
.skills .per .percentage .p2 {
    width: 11.5rem;
    padding-left: 1rem;
}
.skills .per .percentage .p3 {
    width: 4.5rem;
}
.skills .per .percentage .p4 {
    width: 13rem;
}
.skills .per .percentage .p5 {
    width: 27.5rem;
}


.skills .per .percentage .we1{
          
    color: #37c9ce;
 
    display: inline-flex;

    padding-left: 95%;

  
    
   
}



 .percentage .wew{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20px;
    background: lightgray;
    border-radius: 50px;
    
}
 .percentage .wew:before{

 position: absolute;
  content: '';
  top: 6px;
  left: 5px;
  width: 50%;
  height: 40%;
  background: #3dcfd3;
  border-radius: 50px;
  animation: bar 20s ease;
    
}
@keyframes percentage{
    from{
      width: 0;
    }
  }
  .percentage:nth-child(1) span:before{
    width: 50%
  }
  
  .percentage:nth-child(2) span:before{
    width: 20%
  }
  
  .percentage:nth-child(3) span:before{
    width: 25%
  }
  
  .percentage:nth-child(4) span:before{
    width: 25%
  }
  
  .percentage:nth-child(5) span:before{
    width: 27%
  }
  
 
 
 
  .contact{
   
    background: #333;
    margin-top:  2rem ;
    min-height: 100vh;
}
.contact .rey10 h1 {
    text-align: center;
    font-size: 3rem;
    color: #3dcfd3;
    padding: 1rem;  
    padding-top: 1rem;
    width: 20rem;
    margin: 0 auto;
    box-shadow:1rem 1rem 1rem rgba(0, 0, 0, .5);
    background: #444;
    margin-bottom: 5rem;   
    border-radius: 30px;
}
.contact .rey10 h1 i {
  
    color : #3dcfd3;
    padding-left: 1rem;
    
}
.contact .contact1{
    text-align: center;
   
}
.contact .contact1  a{
    font-size: 5rem;
    color: #3dcfd3;
    border-radius: 50px;
    margin: 3rem 1.4rem;
    text-align: center;
}

.contact .contact1  h3{
    font-size: 2rem;
    color: #000;
    font-family: 'RocknRoll One', sans-serif;
}
.contact .contact1 .share1 h4 {
    text-align: left;
    padding-left: 25rem;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    text-transform:none;
    
}

.contact .contact1 .share1 h4  i{
    padding-right: .5rem;
    color: #3dcfd3;

}
.contact .contact1 .share1{
    margin-bottom: 6rem;
}
.footer{
    background: #222;
    text-align: center;
}
.footer .credit{
    padding: 2rem 1rem;
    color: #fff;
    background: #111 ;
    text-align: center;
    font-size: 2rem;
}
.footer .credit a{
    color: #3dcfd3;
}




@media(max-width:768px){
    html{
    font-size: 55%;
    }
    .home .row .image img{
    
        height: 55vh;
        width: 55%;  
    }
    
    header #menu{
        
    display: block;
            
    }
    header .navbar{
    position: fixed;
    width: 100%;
    background:rgb(129, 253, 237);
    top: -120%;left: 0;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(59, 58, 58, 0.5);
   
    }
    header .navbar ul{
    flex-flow: column;
    padding: 2rem;
    }
    header .navbar ul li{
    width: 100%;
    text-align: center;
    }
    header .navbar ul li a{
    display: block;
    background: #3dcfd3;
    margin: .5rem 0;
    padding: .5rem;
    font-size: 2rem;
    z-index: 0;
    border-radius: 1rem;
       
     
    }
    header .navbar ul li a::before{
        
    height: 100%;
    bottom: 0;
    z-index: -1;
    background: #f1f1f1;
    

    }
    .fa-times{
    transform: rotate(90deg);
    }
    header .navbar.nav-toggle{
    top: 7rem;
    }
    .home .row{
        text-align: center;
       
    
    }
    .skills .per .percentage .we1{
        display: inline-flex;
        padding-left: 95%;  
    }

    .contact .contact1 .share1 h4 {
        padding-left: 10rem;
    }
    


}


@media(max-width:500px){
    html{
        font-size: 55%;
    }
    
.home .row .image img{
    
    height: 50vh;
    width: 80%;  
}
.home .content{
    text-align: center;
}
.home .row .content h1{
    font-size: 4rem;
    color: #000;
}
.home .row .content .rey{
    color: #0c5c5f;
    font-size: 4rem;
}
.home .row .content span {
    color: #0c5c5f;
    transition: all 1s ease;
    font-size: 3rem;
}
.contact .contact1 .share1 h4 {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2rem;
    
}
.skills .per .percentage .we1{
    display: inline-flex;
    padding-left: 90%;  
}

}

@media(max-width:460px){
    html{
        font-size: 55%;
    }
    header #menu{
        
        display: block;
                
        }
    .home .row .image img{
    
        height: 30vh;
        width: 55%; 
        border-radius: 100%; 
    }
    
    .home .content{
        text-align: center;
    }
    .home .row .content h1{
        font-size: 2rem;
      
    }
    .home .row .content .rey{
     
        font-size: 2rem;
    }
    .home .row .content span {
       
        
        font-size: 2rem;
    }
    
    
    .about .about1 {
        padding-bottom: 2rem;
    }
    .skills .rey1 h1 {
        text-align: center;
    }
    .skills .percentage h3{
       
        font-size: 1.1rem;
        
      text-align: left;
        
    }
    
    .skills .per .percentage .p1 {
        width: 7rem;  
    }
    .skills .per .percentage .p2 {
        width: 8rem;
        padding-left: 1rem;
    }
    .skills .per .percentage .p3 {
        width: 3.5rem;
    }
    .skills .per .percentage .p4 {
        width: 8.7rem;
    }
    .skills .per .percentage .p5 {
        width: 18rem;
    }

    .contact .contact1{
    
    text-align: center;
    }
    .contact .contact1  a{
        font-size: 3rem;
       
        border-radius: 50px;
        margin: 1.5rem 1.5rem;
        text-align: center;
    }
    .about .about1 .row p{
        font-size: 1rem;
    }
    .contact .contact1 .share1 h4 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        
    }
    .footer .credit{
        padding: 2rem 1rem;
        text-align: center;
        font-size: 1.5rem;
    }
    .about .about1 .row .row2{
        
        font-size: 1rem;
       
    
    }
    .about .about1 .row .row5{
        
        padding-left: 4rem;
        
    
    }

    .percentage .wew{
        width: 100%;
        height: 10px;
        border-radius: 50px;
        
    }
     .percentage .wew:before{
    

      top: 2.7px;
      left: 5px;
      width: 50%;
      height: 40%;
        
    }
    .skills .per .percentage .we1{
        display: inline-flex;
        padding-left: 95%;  
    }

    
}
@media(max-width:400px){
    html{
        font-size: 55%;
    }
    header #menu{
        
        display: block;
                
        }
    .home .row .image img{
    
        height: 30vh;
        width: 80%; 
        border-radius: 100%; 
    }
    .skills .per .percentage .we1{
        display: inline-flex;
        padding-left: 90%;  
    }
    .contact .contact1 .share1 h4 {
        padding-left: 1rem;
        text-align: left;
  
    font-size: 1.5rem;
   
    }
    
}